exportPattern("^[[:alpha:]]+")
S3method(d1nat, default)
S3method(d1spec, default)
S3method(d2spec, default)
S3method(plot, d1nat)
S3method(plot, d1spec)
S3method(plot, d2spec)
S3method(plot, pvalign)
S3method(print, d1nat)
S3method(pvalign, default)
S3method(stheorem, default)
S3method(print, d1spec)
S3method(print, d2spec)
S3method(print, pvalign)
S3method(print, stheorem)
